# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific files
/Demo
/Img
/maps
/replayer
freeglut.dll
Robot.exe
Robot_gui.exe
run_demo_without_gui.bat
run_keyboard_demo.bat
run_simple_demo.bat

/DX3906/.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

/SDK/CMakeFiles
*.cmake
/SDK/*.txt
/SDK/*.sh
